* {
    background-color: #0e191f;
}


h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

#puzzle {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 4px;
  width: max-content;
  margin: 20px auto;
}

.tile {
  background: #273d47;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;
}

.tile:hover {
  background: #2980b9;
}

.empty {
  background: #b8b8b8;
  cursor: default;
}

.shuffle-btn, .reset-btn {
    border-radius: 9px;
    font-size: 1rem;
    padding: 10px;
    margin-top: 40px;
    background-color: #f7f7f7;
}

#playerName {
    height: 25px;
    border-color: #ffffff;
    background-color: #ffffff;
}

.save-btn{
    border-radius: 9px;
    background-color: aliceblue;
    padding: 10px;
    margin-left: 21px;
}

.reset-btn:hover {
    background-color: #b4b4b4dc;
}

.shuffle-btn:hover {
    background-color: #c2c2c2e7;
}
.save-btn:hover {
    background-color: #12ca0be7;
}

#moves {
    display: flex;
    color: #ffffff;
    justify-content: center;
    padding: 20px;
}

#message {
    color: #336d94;
    font-size: 2rem;
    font-weight: bold;
}